[submodule "libraries/ConfigurableFirmata"]
	path = libraries/ConfigurableFirmata
	url = https://github.com/wamisnet/ConfigurableFirmata.git
[submodule "libraries/Nefry_ThingSpeak/src/include"]
	path = libraries/Nefry_ThingSpeak/src/include
	url = git@github.com:mathworks/thingspeak-arduino.git
